* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
}

.capbar {
    background: #2E2E2E;
    height: 75px;
    display: flex;
    align-items: center;
}

.position {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 1300px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.capbar__logo {
    display: flex;
    align-items: center;

}

.header__avatar-and-exit
{
    display: flex;
    align-items: center;
}

.header__avatar
{
    margin-right: 12px;
}

.header__exit
{
    margin-top: 4px;
    margin-left: 12px;
}

.capbar__first-char {
    /* char */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    /* backgroundchar */
    border: 2px solid #DD783F;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #DD783F;
    padding: 2px;
    /* position char */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.main-info {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 1300px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-info__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #000000;
}

.main-info__subtitle {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    color: rgba(46, 46, 46, 0.63);
}

.main-info__button {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    width: 100px;
    height: 48px;
    background: #DD783F;
    border-radius: 3px;
    border-style: none;
}

.all-inputs {
    background: #FFFFFF;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.all-inputs__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 40px;

}

.main-inputs {
    display: flex;
    justify-content: space-between;
}

.left-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-style {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7A7A7A;
    margin-bottom: 5px;
}

.position-for-url {
    display: flex;
    align-items: center;
    gap: 10px
}

.trash-hidden {
    visibility: hidden;
    position: absolute;
}

.input-size {
    width: 560px;
    height: 40px;
    background: #F7F7F7;
    border-style: none;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0px 0px;
    outline: 0;
    font-size: 20px;
}

.but__input-size {
    background-color: #FFFFFF;
}

.big-image__size {
    width: 560px;
    height: 160px;
    background: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
}

.position__bs-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.text-upload {
    font-family: 'Oxygen';  
    font-weight: 400;
    font-size: 12px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    color: rgba(153, 153, 153, 1)
}

.small-image__size {
    width: 296px;
    height: 150px;
    background: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
}

.input__item p {
    position: relative;
    top: -220px;
    text-align: center;
}

.main-info__article-label
{
    font: 400 normal 15px/20px 'Oxygen';
    margin-bottom: 18px;
    color: rgba(122, 122, 122, 1);
}

.main-info__article-preview
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 385px;
    margin-bottom: 44px;
}

.main-info__article-preview-frame
{
    position: absolute;
    z-index: 1;
}

.main-info__article-title
{
    margin-top: 97px;
    font: 400 normal 22px/24px 'Lora';
    color: #2E2E2E;
}

.main-info__article-description
{
    margin-top: 6px;
    font: 400 normal 11px/12px 'Oxygen';
    color: rgba(46, 46, 46, 0.63);
}

.main-info__article-image
{
    margin-top: 38px;
    height: 160px;
    width: 408px;
}

.main-info__article-gradient
{
    position: absolute;
    width: 119px;
    height: 385px;
    margin-left: 290px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
}

.main-info__post-card-label
{
    font: 400 normal 15px/20px 'Oxygen';
    margin-bottom: 19px;
    color: rgba(122, 122, 122, 1);
}

.main-info__post-card-preview
{
    width: 440px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.main-info__post-card-preview-frame
{
    position: absolute;
    z-index: 1;
}

.main-info__post-card-preview-elements
{
    margin: 32px 0 0 16px;
    width: 296px;
    height: 291px;
    display: flex;
    flex-direction: column;
}

.main-info__post-card-image
{
    width: 294px;
    height: 150px;
    border: 1px solid #D3D3D3;
}

.main-info__border
{
    border: 1px solid #D3D3D3;
}

.main-info__post-card-title
{
    font: 400 normal 16px/21px 'Lora';
    color: #101315;
    margin: 14px 0 0 13px;
}

.main-info__post-card-description
{
    font: 400 normal 13px/19px 'Oxygen';
    color: #7A7A7A;
    margin: 7px 0 32px 13px;
}

.main-info__post-card-author-photo
{
    margin: 12px 0 12px 13px;
    width: 26px;
    height: 26px;
}

.main-info__post-card-author-data
{
    margin-top: 8px;
    font: 400 normal 12px/35px 'Oxygen';
    color: #999999;
}

.main-info__post-info
{
    display: grid;
    grid-template-columns: 49px 1fr 1fr;
    background-color: #FCFCFC;
}

.main-info_post-card-data
{
    text-align: right;
    margin-right: 13px;
}

.main-info__post-card-gradient-vertical
{
    position: absolute;
    width: 374px;
    height: 396px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
    margin-left: 69px;
}

.main-info__post-card-gradient-gorizontal
{
    position: absolute;
    height: 85px;
    width: 440px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    margin-top: 278px;
}

.z-top
{
    z-index: 2;
}

.content
{
    margin-top: 16px;
    background-color: white;
}

.content__title
{
    margin-bottom: 44px;
    font: 400 normal 28px/30px 'Lora';
}

.content__comment
{
    font: 400 normal 13px/16px 'Oxygen';
    color: #7A7A7A;
}

.content__field-for-content
{
    width: 940px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 12px;
    font: 400 normal 17px/24px 'Oxygen';
    margin-bottom: 56px;
}