html, body, head {
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0 ;
}

body {
    background-color: #F7F7F7;
}

.header {
    position: relative;
    height: 500px;
}

.head_img {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 1;
    object-fit:cover;
}
 
.navigation__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Oxygen';
    font-size: 12px;
}

.header__title {
    position: relative;
    max-width: 1000px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.header__turtual {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 178px;
    top: 100px;
}

.header__turtual_head {
    position: relative;
    color: aliceblue;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    z-index: 3;
}

.header__turtual_text{
    position: relative;
    margin-top: 17px;
    font-family: 'Oxygen';
    font-size: 17px;
    color: rgba(255, 255, 255, 0.63);
    z-index: 3;
}

.header__turtual_button {
    position: relative;
    background: #DD783F;
    width: 167px;
    height: 45px;
    margin-top: 25px;
    border-radius: 3px;
    border: 0;
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    z-index: 3;
}

.navigation-menu {
    position: absolute;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

.rect_img {
    position: absolute;
    max-width: 100%; 
    height: 65px;
    z-index: 1;
}

.menu-items {
    position: relative;
    max-width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    list-style: none;
}

.menu-items__link {
    text-decoration: none;
    font-family: 'Lora';
    font-size: 14px;
    color: #768088;
}

.feature_turtual {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    top: 135px; 
}

.feature_head {
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.2);
}

.feature__most {
    display: grid;
    margin-top: 165px;
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: 280px;
    justify-content: center;
    gap: 25px;
}

.first_img {
    position: absolute;
    z-index: 1;
}

.feature__road_header {
    text-decoration: none;
    position: relative;
    padding-left: 10px;
    margin-top: 150px;
    z-index: 2;
}

.feature__header_title {
    text-decoration: none;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 15px;
}

.Road_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.feature__header_text{
    font-family: 'Oxygen';
    word-break:break-all;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

/* .second_img {
    position: absolute;
    z-index: 1;
} */

/* .feature__top_button {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    background: #DD783F;
    width: 87px;
    height: 26px;
    border-radius: 2px;
    border: 0;
    font-family: 'Oxygen';
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
} */

.feature__top_header {
    position: relative;
    padding-left: 20px;
    margin-top: 107px;
    z-index: 2;
}

.feature__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    margin-left: 15px;
    margin-top: 25px;
    z-index: 2;
}

.feature__info_img {
    border-radius: 50%;
}

.feature__info__author {
    position: relative;
    display: flex;
    height: 25px;
    line-height: 35px;
}

.feature__info_name {
    position: relative;
    font-family: 'Oxygen';
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    width: 76px;
    margin-left: 10px;
    top: -2px;
}

.feature__info_data {
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
}

.recent_turtual {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    top: 75px; 
}   

.recent_title {
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.2);
}

.recent-body {
    margin-top: 105px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 296px);
    grid-template-rows: repeat(2, 291px);
    justify-content: center;
    gap: 25px;
}

.most-recent__title-and-description {
    text-decoration: none;
}

.recent-body__title {
    margin: 14px 0px 7px 0px;
    font-family: 'Lora';
    font-size: 16px;
    color: #101315;
    margin-left: 10px;
}

.recent-body__text {
    font-family: 'Oxygen';
    font-size: 13px;
    color: #7A7A7A;
    display: block;
    height: 38px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(200, 193, 193, 0.236);

}

.recent-body__item {
    background-color: #FFFFFF;
}

.recent-body__info {
    position: absolute;
    margin-left:10px;
    margin-top: 10px;
}

.recent-body__info__author {
    position: relative;
    display: flex;
    height: 25px;
}

.recent-body_name {
    position: absolute;
    font-family: 'Oxygen';
    font-size: 11px;
    color: #999999;
    width: 76px;
    top: 7px;
    margin-left: 30px;
}

.recent-body_date {
    position: absolute;
    height: 35px;
    top: 7px;
    font-family: 'Oxygen';
    font-size: 12px;
    color: #999999;
    margin-left: 220px;
}

.footer {
    height: 378px;
}

.footer_img {
    position: absolute;
    max-height: 466px;
    width: 100%;
    height: 466px;
    z-index: 1;
    object-fit:cover;
    justify-content: flex-end;
}

.footer_1 {
    position: relative;
    height: 227px;
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.footer_head {
    position: absolute;
    left: calc(50% - 198px/2);
    font-family: 'Oxygen';
    font-size: 25px;
    text-align: center;
    color: #EFEFEF;
    margin-top: 100px;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6)
}

.search-form {
    padding-top: 180px;
    display: flex;
}

.search-form__txt {
    height: 50px;
    width: 375px;
    background: #FFFFFF;
    border: 0;
    border-radius: 3px 0px 0px 3px;
    padding-left: 35px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #817F83;
}

.search-form__btn {
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: 0;
    border-radius: 0px 3px 3px 0px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #F8F8F8;
}

.Rectangl_img {
    position: absolute;
    width: 100%;
    height: 89px;
    object-fit:cover;
    z-index: 2;
    filter: alpha(Opacity = 70);
    opacity: 0.7;
}

.footer_2 {
    position: relative;
    height: 170px;
    z-index: 3;
}

.nav_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Oxygen';
    font-size: 12px;
}

@media screen and (min-width: 1366px){

    .wrapper {
        width: 100%;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .menu-items__link {
        margin-right: 90px;
        margin-left: 20px;
    }

    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }
     
}

@media screen and (max-width: 1366px) and (min-width: 1024px){

    .wrapper {
        width: 100%;
    }

    .menu-items__link {
        margin-right: 50px;
        margin-left: 20px;
    }

    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

}

@media screen and (max-width: 1024px) and (min-width: 768px){
   
    .wrapper {
        width: 100%;
    }

    body {
        max-width: 1024px;
    }

    .header__title {
        max-width: 692px;
    }

    .menu-items {
        max-width: 692px;
        gap: 20px;
    }

    .first_img {
        max-width: 346px;
        height: 280px;
        object-fit: cover;
        border-radius: 1%;
    } 

    .feature__most {
        display: flex;
        margin-top: 159px;
        height: 280px;
        align-items: center;
        gap: 55px;
    }

    .feature__info {
        display: flex;
        max-width: 310px;       
    }

    .footer {
        min-width: 692px;
    }

    .recent-body {
        grid-template-columns: repeat(3, 222px);
    }

    .recent-body__item {
        max-width: 222px;
    }

    .recent-body_date {
        margin-left: 150px;
    }

    .second_img {
        max-width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }
     
    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

}

@media screen and (max-width: 768px) and (min-width: 480px){
  
    .wrapper {
        width: 100%;
    }

    body {
        max-width: 768px;
    }

    .header {
        height: 433px;
    }

    .header__title {
        max-width: 440px;
    }

    .header__turtual {
        height: 356px;
        top: 50px;
    }

    .header__turtual_head {
        position: relative;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 3;
    }

    .header__turtual_text {
        width: 320px;
        margin-left: auto ;
        margin-right: auto;
        text-align: center;
    }

    .menu-items {
        max-width: 440px;
    }

    .navigation {
        width: 100px;
        height: 200px;
        margin-left: 20%;
        margin-bottom: 300%;
        text-align: center;
        background: rgba(110, 104, 104, 0.8);
        list-style: none;
        border: 1px solid #999999;
        margin-top: 45px;
        z-index: 2;
    }

    .active {
        margin-bottom: -110%;
    }

    .toggle-btn {
        position: absolute;
        right: 0%;
        top: 10px;
        border-radius: 6px;
        padding: 5px;
        cursor: pointer;
        background: rgba(74, 70, 70, 0.6);
        z-index: 2;
    }

    .toggle-btn span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 4px 0;
    }

    .toggle-btn:hover {background-color: rgba(255, 255, 255, 0.63)}
    .toggle-btn:hover span {background: rgba(74, 70, 70, 0.6);}

    .navigation__link {
        padding-bottom: 10px;
        text-decoration: none;
        margin-bottom: 10%;
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Oxygen';
        font-size: 12px;
        margin-top: 20px;
    }

    .navigation-menu {
        height: 119px;
    }

    .rect_img {
        height: 119px;
    }

    .menu-items {
        display: grid;
        margin-top: 25px;
        max-width: 410px;
        height: 314px;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(2, 20px);  
        gap: 25px;  
    }

    .menu-items__link {
        display: flex;
        justify-content: center;
    }

    .feature__most {
        grid-template-columns: repeat(1, 440px); 
        grid-template-rows: repeat(2, 280px);
    }

    .first_img {
        width: 440px; 
        object-fit: cover;
    }

    .feature__info {
        margin-top: 13px;
        max-width: 400px;
    }

    .recent-body {
        grid-template-columns: repeat(1, 442px);
        grid-template-rows: repeat(6, 291px);
    }

    .second_img {
        width: 442px;
        height: 150px;
        object-fit: cover;
    }

    .recent-body_date {
        margin-left: 360px;
    }

    .footer {
        margin-top: 1300px;
        height: 545px;
    }

    .footer_img {
        max-height: 551px;
        height: 551px;
        height: 100%;
        object-fit:cover;
    }

    .search-form__txt {
        width: 330px;
    }

    .search-form__btn {
        width: 110px;
    }

    .Rectangl_img {
        opacity: 1.0;
        height: 173px;
    }

    .escape_img {
        margin-top: -80px;
    }

    .nav_navigation {
        list-style: none;
        text-align: right;
    }
    
    .nav_link {
        margin-top: 20px;
        line-height: 30px;
    }
}