html, body, head {
    margin: 0;
    padding: 0;
}

.header__title {
    position: relative;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__link {
    text-decoration: none;
    color: #2E2E2E;
    font-family: 'Oxygen';
    font-size: 12px;
}

.header__turtual {
    position: absolute;
    height: 159px;
    left: 17.36%;
    right: 17.36%;
}

.header__turtual_head {
    position: absolute;
    text-align: center;
    color: #2E2E2E;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    width: 498px;
    left: calc(50% - 498px/2);
    top: -58px;
    letter-spacing: 2px;
    top: 90px;
}

.header__turtual_text{
    position: absolute;
    width: 504px;
    left: calc(50% - 504px/2);
    font-family: 'Oxygen';
    font-size: 17px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
    top: 194px;
}

.top-img {
    margin-top: 300px;
    width: 100%;
    height: 534px;
}

.body-text {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: 140px;
}

.top-text {
    font-family: 'Oxygen';
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}

.footer {
    height: 378px;
}

.footer_img {
    position: absolute;
    width: 100%;
    z-index: 1;
    object-fit:cover;
    justify-content: flex-end;
}

.footer_1 {
    position: relative;
    height: 227px;
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.footer_head {
    position: absolute;
    left: calc(50% - 198px/2);
    font-family: 'Oxygen';
    font-size: 25px;
    text-align: center;
    color: #EFEFEF;
    margin-top: 100px;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6)
}

.search-form {
    padding-top: 180px;
    display: flex;
}

.search-form__txt {
    height: 50px;
    width: 375px;
    background: #FFFFFF;
    border: 0;
    border-radius: 3px 0px 0px 3px;
    padding-left: 35px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #817F83;
}

.search-form__btn {
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: 0;
    border-radius: 0px 3px 3px 0px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #F8F8F8;
}

.Rectangl_img {
    position: absolute;
    width: 100%;
    height: 89px;
    object-fit:cover;
    z-index: 2;
    filter: alpha(Opacity = 70);
    opacity: 0.7;
}

.footer_2 {
    position: relative;
    height: 89px;
    z-index: 3;
}

.nav_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Oxygen';
    font-size: 12px;
}

@media screen and (min-width: 1366px){

    .wrapper {
        width: 100%;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .footer_img {
        max-height: 466px;
        height: 466px;
    }

}

@media screen and (max-width: 1366px) and (min-width: 1024px){

    .wrapper {
        width: 100%;
    }

    .header__title {
        max-width: 920px;
    }

    .top-img {
        margin-top: 280px;
        height: 460px;
        object-fit: cover;
    }

    .body-text {
       max-width: 920px; 
       margin-top: 90px;
       margin-bottom: 90px;
    }

    .top-text {
        font-family: 'Oxygen';
        font-size: 22px;
        line-height: 32px;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .footer_img {
        max-height: 466px;
        height: 466px;
    }

}

@media screen and (max-width: 1024px) and (min-width: 768px){
   
    .wrapper {
        width: 100%;
    }

    body {
        max-width: 1024px;
    }

    .header__title {
        max-width: 692px;
    }

    .top-img {
        margin-top: 230px;
        height: 390px;
        object-fit: cover;
    }

    .body-text {
       max-width: 692px; 
       margin-top: 50px;
       margin-bottom: 50px;
    }

    .top-text {
        font-family: 'Oxygen';
        font-size: 20px;
        line-height: 28px;
    }

    .footer {
        min-width: 692px;
    }

    .navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .nav_navigation {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    .footer_img {
        max-height: 466px;
        height: 466px;
    }

}

@media screen and (max-width: 768px) and (min-width: 480px){
  
    .wrapper {
        width: 100%;
    }

    body {
        max-width: 768px;
    }

    .Escape2 {
        margin-right: 290px;
    }

    .header__title {
        max-width: 440px;
    }

    .top-img {
        margin-top: 200px;
        height: 340px;
        object-fit: cover;
    }

    .body-text {
       max-width: 440px; 
       margin-top: 30px;
       margin-bottom: 30px;
    }

    .top-text {
        font-family: 'Oxygen';
        font-size: 17px;
        line-height: 24px;
    }

    .navigation {
        width: 100px;
        height: 200px;
        margin-left: -40%;
        margin-bottom: 300%;
        text-align: center;
        background: rgba(40, 38, 38, 0.9);
        list-style: none;
        border: 1px solid #999999;
        margin-top: 45px;
        z-index: 2;
    }

    .active {
        margin-bottom: -140%;
    }

    .toggle-btn {
        position: absolute;
        top: 10px;
        margin: auto;
        border-radius: 6px;
        margin-right: 0px;
        padding: 5px;
        cursor: pointer;
        background: rgba(74, 70, 70, 0.6);
        z-index: 2;
    }

    .toggle-btn span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 4px 0;
    }

    .toggle-btn:hover {background-color: rgba(255, 255, 255, 0.63)}
    .toggle-btn:hover span {background: rgba(74, 70, 70, 0.6);}

    .navigation__link {
        position: relative;
        padding-right: 15px;
        padding-bottom: 10px;
        text-decoration: none;
        margin-bottom: 10%;
        color: rgba(255, 255, 255, 0.883);
        font-family: 'Oxygen';
        font-size: 12px;
        margin-top: 20px;
        z-index: 2;
    }

    .footer {
        height: 551px;
    }

    .footer_img {
        height: 551px;
        max-height: 551px;
        object-fit:cover;
    }

    .search-form__txt {
        width: 330px;
    }

    .search-form__btn {
        width: 110px;
    }

    .Rectangl_img {
        height: 170px;
        opacity: 1.0;
    }

    .footer_2 {
        height: 173px;
    }

    .escape_img {
        margin-top: -80px;
    }

    .nav_navigation {
        list-style: none;
        text-align: right;
    }
    
    .nav_link {
        line-height: 30px;
    }
}