<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
    <script src="../static/js/admin.js"></script>
    <title>Document</title>
<body>
    {{ range .Header }}
    <header class="capbar">
        <div class="position">
            <div class="capbar__logo">
                <img src="{{ .Logo }}" alt="">
            </div>
            <div class="header__avatar-and-exit">
                <img class="header__avatar" src="{{.Avatar}}">
                <a href="{{.ImageExit}}">
                    <img class="header__exit" src="{{.Exit}}" alt="">
                </a>      
            </div>
        </div>
    </header>
    {{ end }}

    {{range .MainTop}}
    <article class="main-info">
        <section>
            <p class="main-info__title">{{.Title}}</p>
            <p class="main-info__subtitle">{{.Subtitle}}</p>
        </section>
        <button type="sumbit" class="main-info__button" onclick="Click()">{{.Button}}</button>
    </article>
    {{end}}

    {{range .MainInfo}}
    <article class="all-inputs">
        <div>
            <p class="all-inputs__title">{{.Title}}</p>
        </div>
        {{range .Fields}}
        <div class="main-inputs">
            <div class="left-inputs">
                <div class="input__title">
                    <p class="text-style">{{.Title}}</p>
                    <input id="Title" type="text" class="input-size" placeholder="New post" >
                </div>

                <div class="input__description">
                    <p class="text-style">{{.SubTitle}}</p>
                    <input id="Subtitle" type="text" class="input-size">
                </div>

                <div class="input__name">
                    <p class="text-style">{{.AuthorName}}</p>
                    <input id="Author-name" type="text" class="input-size but__input-size">
                </div>

                <div class="input__image-author">
                    <p class="text-style">{{.TitlAuthorUrl}}</p>
                    <div class="position-for-url">
                        <label id="author-icon" for="author-image">
                            <img class="kek" src={{.AuthorPhoto}} alt="">
                            <p class="text-upload">{{.Upload}}</p>
                        </label>
                    </div>
                </div>

                <div class="input__date">
                    <p class="text-style">{{.Date}}</p>
                    <input type="date" class="input-size">
                </div>

                <div class="input__big-image">

                    <p class="text-style">{{.TitleImage}}</p>
                    <input id="big-image" class="trash-hidden" type="file">

                    <label for="big-image">
                        <div class="big-image__size position__bs-image">
                            <img src={{.HeroBigImage}} alt="">
                        </div>
                    </label>
                    <p class="text-upload">{{.BigNote}}</p>
                </div>

                <div class="inpit__small-image">

                    <p class="text-style">{{.TitleImage}}</p>
                    <input id="small-image" class="trash-hidden" type="file">

                    <label for="small-image">
                        <div class="small-image__size position__bs-image">
                            <img src="{{.HeroSmallImage}}" alt="">
                        </div>
                    </label>
                    <p class="text-upload">{{.SmallNote}}</p>
                </div>
            </div>
            {{end}}

            {{ range .Preview}}
                <div class="main-info__preview">
                    {{ range .Article }}
                    <p class="main-info__article-label">{{ .Label }}</p>
                    <div class="main-info__article-preview"> 
                        <img class="main-info__article-preview-frame" src="{{ .FrameURL }}" alt="article frame">
                        <h2 id="preview-title-article" class="main-info__article-title z-top">{{ .Title }}</h2>
                        <p id="preview-subtitle-article" class="main-info__article-description z-top">{{ .Subtitle }}</p>
                        <img id="preview-big-image" class="main-info__article-image z-top" src="{{ .Imageurl }}" alt="Big Image">
                        <div class="main-info__article-gradient z-top"></div>
                    </div>
                    {{ end }}
                    {{ range .PostCard }}
                    <p class="main-info__post-card-label">{{ .Label }}</p>
                    <div class="main-info__post-card-preview">
                        <img class="main-info__post-card-preview-frame" src="{{ .FrameURL }}" alt="post card frame">
                        <div class="main-info__post-card-preview-elements z-top">
                            <img id="preview-small-image" class="main-info__post-card-image" src="{{ .Imageurl }}" alt="Small Image">
                            <div class="main-info__border">
                                <h2 id="preview-title" class="main-info__post-card-title">{{ .Title }}</h2>
                                <p id="preview-subtitle" class="main-info__post-card-description">{{ .Subtitle }}</p>
                            </div>
                            <div class="main-info__post-info main-info__border">
                                <img id="preview-author-photo" class="main-info__post-card-author-photo" src="{{ .AuthorPhotoURL }}" alt="author">
                                <p id="preview-author-name" class="main-info__post-card-author-data">{{ .AuthorName }}</p>
                                <p id="preview-data" class="main-info__post-card-author-data main-info_post-card-data">{{ .Data }}</p>
                            </div>
                        </div>
                        <div class="main-info__post-card-gradient-vertical z-top"></div>
                        <div class="main-info__post-card-gradient-gorizontal z-top"></div>
                    </div>
                    {{ end }}
                </div>
                
            {{ end }}
        </div>
    </article>
    {{end}}
    {{ range .Content }}
        <div class="content all-inputs">
            <h2 class="content__title">{{ .Title }}</h2>
            <div class="content__text-area">
                <p class="content__comment">{{ .Comment }}</p>
                <textarea id="content" class="content__field-for-content" placeholder="Type anything you want ..."  onchange="ChangeContent()"></textarea>
            </div>
        </div>
    {{ end }}

</body>
</html>