<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    {{ range .HeaderPost }}
        <header class="header wrapper">
            <div class="header__title">
                <img class="Escape2" src="{{ .Escape }}" alt="Escape2" >
                {{ range .Nav }}
                    <div id="sidebar">
                        <div class="toggle-btn" onclick="openMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="navigation" >
                        <li class="navigation__link"><a class="navigation__link" href="#">{{ .First }}</a></li>
                        <li class="navigation__link"><a class="navigation__link" href="#">{{ .Second }}</a></li>
                        <li class="navigation__link"><a class="navigation__link" href="#">{{ .Third }}</a></li>
                        <li class="navigation__link"><a class="navigation__link" href="#">{{ .Fourth }}</a></li>
                    </ul>  
                    </div> 
                {{ end }}                 
            </div>  
        </header>
    {{ end }}
    {{ range .Post }}
        <div>
            <h1 class="header__turtual_head" >{{ .Title }}</h1>
            <p class="header__turtual_text" >{{ .Subtitle }}</p>
            <img class="top-img" src="{{ .Image }}" alt="polarlight">
            <div class="body-text">
                <p class="top-text">{{ .Content }}</p>
            </div>
        </div>
    {{ end }}

    {{ range .Footer }}
        <footer class="footer">
            <img class="footer_img wrapper" src="{{ .Background }}" alt="footer">
            <div class="footer_1">
                <p class="footer_head">{{ .Title}}</p>
                <div class="search-form">
                    <input placeholder="Enter your email address" class="search-form__txt" type="text">
                    <button class="search-form__btn" type="button">{{ .Button}}</button>
                </div>
            </div>
            <img class="Rectangl_img wrapper" src="{{ .Rectangl }}" alt="Rectangl">
            {{ range .Bottom }}
                <div class="footer_2 header__title">
                    <img class="escape_img" src="{{ .Escape }}" alt="Escape" >
                    {{ range .Nav }}
                        <ul class="nav_navigation">
                            <li><a class="nav_link" href="#">{{ .First }}</a></li>
                            <li><a class="nav_link" href="#">{{ .Second }}</a></li>
                            <li><a class="nav_link" href="#">{{ .Third }}</a></li>
                            <li><a class="nav_link" href="#">{{ .Fourth }}</a></li>
                        </ul>
                    {{ end }}
                </div>
            {{ end }}
        </footer>
    {{ end }}

    <script>
        function openMenu(){
            document.getElementById("sidebar").classList.toggle('active')
        }
    </script>

</body>
</html>